<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <!-- Name -->
    <a class="navbar-brand me-4" href="index.html"> Guillaume Brouillette </a>

    <!-- Navbar Toggler -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- Main Navigation Links -->
      <ul class="navbar-nav" id="main-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            data-page="home"
            data-key="home"
            href="index.html"
          ></a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            data-page="research"
            data-key="research"
            href="research.html"
          ></a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            data-page="publications"
            data-key="publications"
            href="publications.html"
          ></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-page="cv" data-key="cv" href="cv.html"></a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            data-page="contact"
            data-key="contact"
            href="contact.html"
          ></a>
        </li>
      </ul>

      <div class="navbar-divider d-lg-none my-2"></div>

      <!-- Language Switcher -->
      <ul class="navbar-nav ms-lg-auto" id="lang-nav">
        <li class="nav-item">
          <a class="nav-link" data-lang="en" href="#">EN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-lang="fr" href="#">FR</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
